<p>ddashboard works!</p>
<div class="bg-image"></div>


    

<div class="row bg-text">
    
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bolder; text-align: center;font-size: 50px;">Pension Disburement Dashboard</h1>

    <div class="col-md-3"></div>

    
    <div class="col-md-6" style="border: 2px black solid;padding: 20px;justify-content: flex-end;padding: 20px;margin: 20px;background-color: whitesmoke;">
        <form (ngSubmit)="onProcessPension()" class="form ">
           
           
            <div class="form-group">
                <label class="col-form-label" style="font-size: 20px;">Addhaar Number</label>
            <input type="text" class="form-control" name="aadhaarNumber" [(ngModel)]="ProcessPensionInput.aadhaarNumber" placeholder="Enter Your Aadhaar Number" required=""/>
            </div>
            
            <div class="form-group">
                <label class="col-form-label" style="font-size: 20px;">Pension Amount</label>
                <input type="text" class="form-control" name="pensionAmount" [(ngModel)]="ProcessPensionInput.pensionAmount" placeholder="Pension Amount" required=""/>
            </div> 
            <div class="form-group">
                <label class="col-form-label" style="font-size: 20px;">Bank Service Charge</label>
                <input type="text" class="form-control" name="bankServiceCharge" [(ngModel)]="ProcessPensionInput.bankServiceCharge" placeholder="bankServiceCharge" required=""/>
            </div> 
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                
            <button type="submit" class="btn btn-success" style="margin-top: 8px;">Process Pension</button><br></div>
            <div class="col-md-6">
            <button type="reset" class="btn btn-success" style="margin-top: 10px;">Reset</button><br>
        </div>
            <span class="text-danger" style="color:red"></span>
            </div>
        </div>
            
        </form>
            {{ProcessPensionInput | json}}
            <h3 ng-If="ProcessCode"> ProcessCode => {{ProcessCode}}</h3>
            <br>
    </div>
   
    {{bankName | json}}
    <h2 ng-If="bankServiceCharge"><label style="font-weight: bolder;"> BankServiceCharge => {{bankServiceCharge}}</label></h2>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border: 2px black solid;padding: 20px;justify-content: flex-end;padding: 20px;margin: 20px;background-color: whitesmoke;">
        <form (ngSubmit)="ongetBankServiceCharge()" class="form">
          
            <div class="form-group">
             <label style="font-size: 20px;margin: 14px;" >Bank Name</label>
            <input type="text" class="form-control" name="bankName" [(ngModel)]="bankName" placeholder="bankName" required=""/>
            </div> 
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
            <input type="submit"  style="margin: 5px;font-size: 16px;margin: 14px;" value="Get Bank Service Charge"><br></div>
            
                <div class="col-md-4">
            <input type="reset"  style="margin: 5px;font-size: 16px;margin: 14px;" value="Reset"><br>
           </div>

            </div>
            </div>
        
       
        </form>
       
   </div>

    <div class="col-md-3"></div>
</div>

   

</div>
